@use '_normalize.scss' as *; //reset
@use '_font.scss' as *; //font
@use '_swiper.scss' as *; //swiper
@use '_tabpage.scss' as *; //tabpage
@use '_variable.scss' as *; //variable$textColor

body {
  background: url(@/images/landscape/bg.jpg) repeat;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  .wrap {
    max-width: 1920px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    &:before {
      content: '';
      width: 729px;
      height: 201px;
      display: block;
      background: url(@/images/landscape/bg_top.png) 0 0 no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    &:after {
      content: '';
      width: 597px;
      height: 197px;
      display: block;
      background: url(@/images/landscape/bg_bottom.png) 0 0 no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .popup {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    isolation: isolate;
    z-index: 999;
    .popupBlock {
      width: 1080px;
      // height: 755px;
      background: #fff;
      border-radius: 38px;
      box-shadow: 0 26px 30px rgba($color: #000000, $alpha: 0.28);
      position: relative;
      box-sizing: border-box;
      padding: 100px 85px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .close {
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        background: url(@/images/landscape/close.png) center center no-repeat;
        font-size: 0;
      }
      .popupContent {
        .number {
          font-size: 150px;
          font-weight: 900;
          color: #fda300;
          line-height: 100%;
          margin-bottom: 30px;
        }
        .text {
          font-size: 50px;
          font-weight: 600;
          line-height: 180%;
          color: $textColor;
          margin-bottom: 58px;
        }
        + .btn {
          gap: 35px;
        }
      }
    }
    .popupOverlay {
      background: rgba($color: #000000, $alpha: 0.47);
      position: absolute;
      inset: 0;
    }
  }
}
.header {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 60px;
  .logo {
    height: 80px;
    float: left;
    img {
      width: auto;
      height: 100%;
    }
  }
  .member {
    float: right;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 20px;
      background: #fff;
      border-radius: 50%;
    }
  }
}
.btn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1635px;
  a:only-child {
    margin: 0 auto;
  }
  a {
    display: inline-block;
    height: 91px;
    line-height: 91px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    &.greyBtn {
      width: 351px;
      color: #615c52;
      background: url(@/images/landscape/btnbg02.png) 0 0 no-repeat;
    }
    &.yellowBtn {
      width: 351px;
      color: #53402b;
      background: url(@/images/landscape/btnbg03.png) 0 0 no-repeat;
    }
    &.startBtn {
      width: 691px;
      color: #53402b;
      background: url(@/images/landscape/btnbg01.png) 0 0 no-repeat;
    }
  }
  .total {
    font-size: 40px;
    font-weight: 800;
    color: $textColor;
  }
}
.content {
  height: 624px;
  margin-bottom: 56px;
  .title {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    background: $titleColor;
    background-clip: text;
    color: transparent;
    margin-bottom: 60px;
    line-height: 110%;
  }

  .subTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    background: $titleColor;
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    line-height: 110%;
    + .btn {
      max-width: 1635px;
      justify-content: flex-end;
      margin-top: -120px;
      margin-bottom: 30px;
      a:only-child {
        margin: 0;
      }
    }
  }
}
// 借閱步驟
.stepBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1496px;
  margin: 0 auto;
  .stepArrow {
    margin-top: -100px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .stepPic {
    position: relative;
    width: 414px;
    height: 355px;
    border: 10px solid #fff;
    border-radius: 80px;
    box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
    overflow: hidden;
    .hand {
      position: absolute;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }
  .stepText {
    width: 270px;
    height: 91px;
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: url(@/images/landscape/step_textbg.png) center center no-repeat;
    margin: 20px auto 0 auto;
    padding-top: 36px;
    line-height: 100%;
  }
  .step1 {
    .stepPic {
      background: $boxBgColor url(@/images/landscape/step1_bg.png) center center no-repeat;
      .hand {
        animation-name: hand1;
        transform: translateX(-335px) translateY(320px);
      }
    }
  }
  .step2 {
    .stepPic {
      background: $boxBgColor url(@/images/landscape/step2_bg.png) center bottom no-repeat;
      .hand {
        animation-name: hand2;
        transform: translateX(25px) translateY(87px) rotate(-10deg);
      }
    }
  }
  .step3 {
    .stepPic {
      background: $boxBgColor url(@/images/landscape/step3_bg.png) center bottom no-repeat;
      .hand {
        animation-name: hand3;
        // animation-delay: 6s;
        transform: translateX(-250px) translateY(250px);
      }
    }
  }
}
// 款式選擇
.selectBlock {
  // display: flex;
  // column-gap: 48px;
  // justify-content: center;
  margin-top: -30px;
  padding: 0 100px;
  // .slick-prev,
  // .slick-next {
  //   width: 50px;
  //   height: 100px;
  //   font-size: 0;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   border: 0;
  //   z-index: 99;
  // }
  // .slick-prev {
  //   left: 50px;
  //   background: transparent url(../../images/landscape/arrow.svg) center center no-repeat;
  // }
  // .slick-next {
  //   right: 50px;
  //   background: transparent url(../../images/landscape/arrow2.svg) center center no-repeat;
  // }
  // .slick-disabled {
  //   display: none !important;
  // }
  .gaze {
    padding: 30px 0;
    .pic {
      position: relative;
      width: 355px;
      height: 370px;
      border: 10px solid #fff;
      border-radius: 80px;
      background: $boxBgColor;
      box-shadow: 0 0 30px rgba(57, 20, 20, 0.15);
      overflow: hidden;
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        flex-direction: column;
        text-decoration: none;
        .size {
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 10px;
          color: $textColor;
          white-space: nowrap;
        }
        img {
          height: 260px;
        }
        .text {
          position: absolute;
          background: #47352e;
          color: #fff;
          font-weight: bold;
          font-size: 35px;
          padding: 16px 48px;
          border-radius: 60px;
          display: none;
        }
      }
    }
    .info {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      color: $textColor;
    }
    &.empty {
      a {
        cursor: default;
      }
      .pic {
        img {
          opacity: 0.6;
          filter: grayscale(100%);
        }
        .text {
          display: block;
        }
      }
    }
  }
}
// 掃描
.scanBlock {
  position: relative;
  width: 1218px;
  height: 393px;
  border: 10px solid #fff;
  border-radius: 80px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor url(../../images/landscape/scan_bg.png) center center no-repeat;
  margin: 0 auto;
  .hand {
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  .handLeft {
    animation-name: hand4;
    transform: translateX(-350px) translateY(350px);
  }
  .handRight {
    animation-name: hand5;
    transform: translateX(1200px) translateY(350px);
  }
}

@keyframes hand1 {
  0% {
    transform: translateX(-335px) translateY(320px);
  }
  25% {
    transform: translateX(-19px) translateY(98px);
  }
  100% {
    transform: translateX(-19px) translateY(98px);
  }
}
@keyframes hand2 {
  0% {
    transform: translateX(25px) translateY(87px) rotate(-10deg);
  }
  30% {
    transform: translateX(25px) translateY(87px) rotate(-10deg);
  }
  55% {
    transform: translateX(-154px) translateY(150px) rotate(-10deg);
  }
  100% {
    transform: translateX(-154px) translateY(150px) rotate(-10deg);
  }
}
@keyframes hand3 {
  0% {
    transform: translateX(-250px) translateY(250px);
  }
  60% {
    transform: translateX(-250px) translateY(250px);
  }
  85% {
    transform: translateX(-60px) translateY(121px);
  }
  100% {
    transform: translateX(-60px) translateY(121px);
  }
}
@keyframes hand4 {
  0% {
    transform: translateX(-350px) translateY(350px);
  }
  25% {
    transform: translateX(75px) translateY(150px);
  }
  100% {
    transform: translateX(75px) translateY(150px);
  }
}
@keyframes hand5 {
  0% {
    transform: translateX(1200px) translateY(350px);
  }
  35% {
    transform: translateX(1200px) translateY(350px);
  }
  60% {
    transform: translateX(845px) translateY(135px);
  }
  100% {
    transform: translateX(845px) translateY(135px);
  }
}
.profileBlock {
  position: relative;
  max-width: 1635px;
  height: 108px;
  padding: 0 72px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  margin: 0 auto 36px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $textColor;
  .name,
  .number {
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 20px;
      background: #fdcd00;
      border-radius: 50%;
    }
  }
}
// 條款
.termsBlock {
  position: relative;
  max-width: 1635px;
  // height: 428px;
  height: 378px;
  padding: 30px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  margin: 0 auto;
  font-size: 27px;
  font-weight: 600;
  color: #3a2e2a;
  .terms {
    overflow-y: scroll;
    padding: 0 42px;
    // height: 350px;
    height: 300px;
    p {
      margin-top: 0;
    }
  }
  .terms::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $boxBgColor;
  }

  .terms::-webkit-scrollbar {
    width: 15px;
    background-color: $boxBgColor;
  }

  .terms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d6c9af;
  }
}
.pwBlock {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .leftText {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      font-size: 50px;
      font-weight: 600;
      color: $textColor;
      line-height: 180%;
      margin-bottom: 70px;
    }
    .password {
      position: relative;
      margin-bottom: 70px;
      input {
        width: 500px;
        font-size: 36px;
        padding: 16px 80px 16px 32px;
        border-radius: 12px;
        border: 4px solid #524843;
        color: #524843;
        letter-spacing: 16px;
        box-sizing: border-box;
      }
      button.passwordEye {
        padding: 0;
        margin: 0;
        position: absolute;
        border: none;
        color: transparent;
        width: 50px !important;
        height: 50px;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        &:before {
          content: '';
          width: 50px;
          height: 50px;
          display: block;
          opacity: 0.8;
        }
        &.show:before {
          background: url(@/images/landscape/icon_eyeOpen.svg) center no-repeat;
        }
        &.hide:before {
          background: url(@/images/landscape/icon_eyeClose.svg) center no-repeat;
        }
      }
    }
    .btn {
      flex-direction: column;
      gap: 32px;
    }
  }
  .rightKey {
    border: 5px solid #524843;
    border-radius: 18px;
    background: #fff;
    margin-bottom: 20px;
    .keyBoard {
      padding: 20px;
      display: grid;
      grid-template-columns: 140px 140px 140px;
      grid-template-rows: 140px 140px 140px 140px;
      gap: 14px;
      .key {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background: #e9eaea;
        color: #524843;
        border: 3px solid #524843;
        border-radius: 12px;
        font-weight: bold;

        &:last-child {
          grid-column: span 2;
        }
        &:active {
          background: #fdcd00;
        }
      }
    }
  }
}
.caseBlock {
  max-width: 1635px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .rightCase {
    position: relative;
    width: 1002px;
    height: 712px;
    background: url(@/images/landscape/case_bg.png) 0 0 no-repeat;
    .legend {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 55px;
      bottom: -70px;
      div {
        font-size: 33px;
        font-weight: 600;
        color: #3e342f;
        line-height: 100%;
        display: flex;
        align-items: center;
        &:before {
          content: '';
          width: 76px;
          height: 42px;
          margin-right: 10px;
          vertical-align: middle;
          border-radius: 6px;
        }
      }
      .empty:before {
        background: #fdcd00;
      }
      .available:before {
        background: #8bddde;
      }
      .disable:before {
        background: #a9aaab;
      }
    }
    .caseGroup {
      position: absolute;
      left: 50px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      width: 450px;
      &.group1 {
        top: 35px;
      }
      &.group2 {
        top: 254px;
      }
      &.group3 {
        top: 472px;
      }
      &.group4 {
        left: 525px;
        top: 472px;
      }

      .case {
        width: 58px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e9eaea;
        font-size: 24px;
        font-weight: bold;
        color: #3e342f;
        border: 3px solid #534741;
        border-radius: 8px;
        &:nth-child(n + 7) {
          margin-top: -3px;
        }
        &.empty {
          background: #fdcd00;
        }
        &.available {
          background: #8bddde;
        }
        &.disable {
          background: #a9aaab;
          color: #fff;
        }
      }
    }
  }
  .leftText {
    text-align: center;
    .text {
      font-size: 50px;
      font-weight: 600;
      color: $textColor;
      line-height: 180%;
      margin-bottom: 70px;
    }
    &.loan {
      .number {
        font-size: 150px;
        font-weight: 900;
        color: #fda300;
        line-height: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
    &.launch {
      padding-left: 60px;
    }
    &.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.setting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .btn {
        flex-direction: column;
        gap: 32px;
      }
    }
  }
}
.nodeBlock {
  max-width: 1635px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  &.center {
    justify-content: center;
    min-height: 524px;
    align-items: center;
    column-gap: 60px;
  }
  a.node {
    display: flex;
    width: 365px;
    height: 272px;
    justify-content: center;
    align-items: center;
    background: #f09800;
    border: 10px solid #fff;
    box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0 0 9px rgba($color: $shadowColor, $alpha: 0.15);
  }
}
.detailBlock {
  max-width: 1635px;
  margin: 0 auto;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 90px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: $theadColor;
  }
  table.detail {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    z-index: 1;

    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    thead {
    }
    thead tr {
      background: $theadColor;
      margin-right: 15px;
    }
    tbody {
      display: block;
      overflow: auto;
      // height: 460px;
      height: 380px;
      margin-right: -15px;
    }
    tbody::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $boxBgColor;
    }

    tbody::-webkit-scrollbar {
      width: 15px;
      background-color: $boxBgColor;
    }

    tbody::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $tbodyColor;
    }
    th {
      box-sizing: border-box;
      color: $thTextColor;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
    }
    th,
    td {
      line-height: 90px;
      padding: 0 16px;
      text-align: center;
    }
    td {
      font-size: 30px;
      font-weight: 600;
      color: $tdTextColor;
      border-bottom: 3px solid $tdBorderColor;
      &.tdLeft {
        text-align: left;
      }
    }
    .deleteCard {
      width: 60px;
      height: 60px;
      display: block;
      background: url(../../images/landscape/icon_delete.svg) 0 0 no-repeat;
      font-size: 0;
      margin: 0 auto;
    }
    .newCard {
      color: #fff;
      background: $theadColor;
      padding: 4px 8px;
      border-radius: 4px;
      display: inline-block;
      margin-left: 8px;
      line-height: normal;
      font-size: 24px;
    }
  }
}
.countDown {
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  position: absolute;
  padding: 0.5rem 1.5rem;
  top: 50px;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  color: #524843;
  right: 60px;
  white-space: nowrap;
  letter-spacing: 2px;
  span {
    display: block;
    font-size: 40px;
    padding-right: 0.75rem;
  }
}
span.errorText {
  color: transparent;
  text-align: center;
  background: linear-gradient(0deg, #960a0f 0%, #ee1249 100%);
  background-clip: text;
}
