$titleColor: linear-gradient(0deg, #47352e 0%, #652d00 100%);
$textColor: #524843;
$boxBgColor: #fffaf0;
$shadowColor: #391414;
$theadColor: #fda300;
$tbodyColor: #d6c9af;
$thTextColor: #fff;
$tdTextColor: #53402b;
$tdBorderColor: #e5dbc8;
