@use '_normalize.scss' as *; //reset
@use '_font.scss' as *; //font
@use '_swiper.scss' as *; //swiper
@use '_variable.scss' as *; //variable$textColor
body {
  background: url(@/images/portrait/bg.jpg) repeat;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  .wrap {
    max-width: 1080px;
    height: 1920px;
    margin: 0 auto;
    position: relative;
    &:before {
      content: '';
      width: 687px;
      height: 203px;
      display: block;
      background: url(@/images/portrait/bg_top.png) 0 0 no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    &:after {
      content: '';
      width: 772px;
      height: 190px;
      display: block;
      background: url(@/images/portrait/bg_bottom.png) 0 0 no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .popup {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    isolation: isolate;
    z-index: 999;
    .popupBlock {
      width: 900px;
      // height: 755px;
      background: #fff;
      border-radius: 38px;
      box-shadow: 0 26px 30px rgba($color: #000000, $alpha: 0.28);
      position: relative;
      box-sizing: border-box;
      padding: 100px 85px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .close {
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        background: url(@/images/portrait/close.png) center center no-repeat;
        font-size: 0;
      }
      .popupContent {
        .number {
          font-size: 150px;
          font-weight: 900;
          color: #fda300;
          line-height: 100%;
          margin-bottom: 30px;
        }
        .text {
          font-size: 50px;
          font-weight: 600;
          line-height: 180%;
          color: $textColor;
          margin-bottom: 58px;
        }
        + .btn {
          gap: 35px;
        }
      }
    }
    .popupOverlay {
      background: rgba($color: #000000, $alpha: 0.47);
      position: absolute;
      inset: 0;
    }
  }
}
.header {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 60px;
  .logo {
    height: 80px;
    float: left;
    img {
      width: auto;
      height: 100%;
    }
  }
  .member {
    float: right;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 20px;
      background: #fff;
      border-radius: 50%;
    }
  }
}
.btn {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  a:only-child {
    margin: 0 auto;
  }
  a {
    display: inline-block;
    height: 91px;
    line-height: 91px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    &.greyBtn {
      width: 351px;
      color: #615c52;
      background: url(@/images/portrait/btnbg02.png) 0 0 no-repeat;
    }
    &.yellowBtn {
      width: 351px;
      color: #53402b;
      background: url(@/images/portrait/btnbg03.png) 0 0 no-repeat;
    }
    &.startBtn {
      width: 691px;
      color: #53402b;
      background: url(@/images/portrait/btnbg01.png) 0 0 no-repeat;
    }
  }
  .total {
    font-size: 40px;
    font-weight: 800;
    color: $textColor;
    line-height: 91px;
  }
}
.content {
  height: 1413px;
  margin-bottom: 50px;
  .title {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    background: $titleColor;
    background-clip: text;
    color: transparent;
    margin-bottom: 60px;
    line-height: 110%;
  }
  .subTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    background: $titleColor;
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    line-height: 110%;
    + .btn {
      margin-bottom: 30px;
      + .detailBlock table.detail {
        tbody {
          height: 1040px;
        }
        th:first-child {
          width: 120px;
        }
        th:last-child {
          width: 120px;
        }
        tr td:first-child {
          width: 100px;
        }
        tr td:last-child {
          width: 100px;
        }
      }
    }
  }
}
// 借閱步驟
.stepBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  gap: 15px;
  .stepArrow {
    transform: rotate(90deg);
  }
  .step1,
  .step2,
  .step3 {
    position: relative;
    width: 100%;
    height: 355px;
    border: 10px solid #fff;
    border-radius: 80px;
    background: $boxBgColor;
    box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .stepPic {
    position: relative;
    width: 414px;
    height: 355px;
    .hand {
      position: absolute;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }
  .stepText {
    width: 270px;
    height: 73px;
    line-height: 73px;
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    background: url(@/images/portrait/step_textbg.png) center center no-repeat;
    margin: 20px auto 0 auto;
  }
  .step1 {
    .stepPic {
      background: url(@/images/portrait/step1_bg.png) center center no-repeat;
      .hand {
        animation-name: hand1;
        transform: translateX(-335px) translateY(320px);
      }
    }
  }
  .step2 {
    .stepPic {
      background: url(@/images/portrait/step2_bg.png) center bottom no-repeat;
      .hand {
        animation-name: hand2;
        transform: translateX(25px) translateY(87px) rotate(-10deg);
      }
    }
  }
  .step3 {
    .stepPic {
      background: url(@/images/portrait/step3_bg.png) center bottom no-repeat;
      .hand {
        animation-name: hand3;
        // animation-delay: 6s;
        transform: translateX(-250px) translateY(250px);
      }
    }
  }
  ~ .btn .startBtn {
    width: 691px;
    color: #53402b;
    background: url(@/images/portrait/btnbg01.png) 0 0 no-repeat;
  }
}

// 款式選擇
.selectBlock {
  padding-top: 80px;
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 100px;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    z-index: 99;
  }
  .slick-prev {
    left: 50px;
    background: transparent url(@/images/portrait/arrow.svg) center center no-repeat;
  }
  .slick-next {
    right: 50px;
    background: transparent url(@/images/portrait/arrow2.svg) center center no-repeat;
  }
  .slick-disabled {
    display: none !important;
  }
  .slide {
    display: flex !important;
    row-gap: 100px;
    justify-content: space-between;
    padding: 0 130px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    .gaze {
      padding: 30px 0;
      .pic {
        position: relative;
        width: 355px;
        height: 370px;
        border: 10px solid #fff;
        border-radius: 80px;
        background: $boxBgColor;
        box-shadow: 0 0 40px rgba(57, 20, 20, 0.15);
        overflow: hidden;
        margin-bottom: 24px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          position: relative;
          flex-direction: column;
          text-decoration: none;
          .size {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
            color: $textColor;
            white-space: nowrap;
          }
          img {
            height: 260px;
          }
          .text {
            position: absolute;
            background: #47352e;
            color: #fff;
            font-weight: bold;
            font-size: 35px;
            padding: 16px 48px;
            border-radius: 60px;
            display: none;
          }
        }
      }
      .info {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: $textColor;
      }
      &.empty {
        .pic {
          img {
            opacity: 0.6;
            filter: grayscale(100%);
          }
          .text {
            display: block;
          }
        }
      }
    }
  }
}

// 掃描
.scanBlock {
  position: relative;
  max-width: 700px;
  height: 1000px;
  border: 10px solid #fff;
  border-radius: 80px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor url(@/images/portrait/scan_bg.png) center center no-repeat;
  margin: 200px auto 0 auto;
  .hand {
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  .handTop {
    animation-name: hand4;
    transform: translateX(-350px) translateY(350px);
  }
  .handBottom {
    animation-name: hand5;
    transform: translateX(500px) translateY(1000px);
  }
}

@keyframes hand1 {
  0% {
    transform: translateX(-335px) translateY(320px);
  }
  25% {
    transform: translateX(-19px) translateY(98px);
  }
  100% {
    transform: translateX(-19px) translateY(98px);
  }
}
@keyframes hand2 {
  0% {
    transform: translateX(25px) translateY(87px) rotate(-10deg);
  }
  30% {
    transform: translateX(25px) translateY(87px) rotate(-10deg);
  }
  55% {
    transform: translateX(-154px) translateY(150px) rotate(-10deg);
  }
  100% {
    transform: translateX(-154px) translateY(150px) rotate(-10deg);
  }
}
@keyframes hand3 {
  0% {
    transform: translateX(-250px) translateY(250px);
  }
  60% {
    transform: translateX(-250px) translateY(250px);
  }
  85% {
    transform: translateX(-60px) translateY(121px);
  }
  100% {
    transform: translateX(-60px) translateY(121px);
  }
}
@keyframes hand4 {
  0% {
    transform: translateX(-350px) translateY(350px);
  }
  25% {
    transform: translateX(140px) translateY(194px);
  }
  100% {
    transform: translateX(140px) translateY(194px);
  }
}
@keyframes hand5 {
  0% {
    transform: translateX(500px) translateY(1000px);
  }
  35% {
    transform: translateX(500px) translateY(1000px);
  }
  60% {
    transform: translateX(280px) translateY(720px);
  }
  100% {
    transform: translateX(280px) translateY(720px);
  }
}
.profileBlock {
  position: relative;
  max-width: 800px;
  // height: 108px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  margin: 0 auto 36px auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $textColor;
  .name {
    border-bottom: 3px solid #e5dbc8;
  }
  .name,
  .number {
    padding: 10px 0;
    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 20px;
      background: #fdcd00;
      border-radius: 50%;
    }
  }
}
// 條款
.termsBlock {
  position: relative;
  max-width: 800px;
  height: 1100px;
  padding: 30px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  margin: 0 auto 40px auto;
  font-size: 27px;
  font-weight: 600;
  color: #3a2e2a;
  .terms {
    overflow-y: scroll;
    padding: 0 42px;
    height: 1020px;
    p {
      margin-top: 0;
    }
  }
  .terms::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $boxBgColor;
  }

  .terms::-webkit-scrollbar {
    width: 15px;
    background-color: $boxBgColor;
  }

  .terms::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d6c9af;
  }
}
.pwBlock {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .leftText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    .text {
      font-size: 50px;
      font-weight: 600;
      color: $textColor;
      line-height: 180%;
      margin-bottom: 70px;
    }
    .password {
      position: relative;
      margin-bottom: 70px;
      input {
        width: 680px;
        font-size: 36px;
        padding: 16px 80px 16px 32px;
        border-radius: 12px;
        border: 4px solid #524843;
        color: #524843;
        letter-spacing: 16px;
        box-sizing: border-box;
      }
      button.passwordEye {
        padding: 0;
        margin: 0;
        position: absolute;
        border: none;
        color: transparent;
        width: 50px !important;
        height: 50px;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        &:before {
          content: '';
          width: 50px;
          height: 50px;
          display: block;
          opacity: 0.8;
        }
        &.show:before {
          background: url(@/images/portrait/icon_eyeOpen.svg) center no-repeat;
        }
        &.hide:before {
          background: url(@/images/portrait/icon_eyeClose.svg) center no-repeat;
        }
      }
    }
    .btn {
      flex-direction: column;
      gap: 32px;
    }
  }
  .rightKey {
    border: 5px solid #524843;
    border-radius: 18px;
    background: #fff;
    margin-bottom: 20px;
    .keyBoard {
      padding: 20px;
      display: grid;
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px 200px;
      gap: 14px;
      .key {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background: #e9eaea;
        color: #524843;
        border: 3px solid #524843;
        border-radius: 12px;
        font-weight: bold;

        &:last-child {
          grid-column: span 2;
        }
        &:active {
          background: #fdcd00;
        }
      }
    }
  }
}
.caseBlock {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .bottomCase {
    position: relative;
    width: 695;
    margin: 0 auto;
    .legend {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 55px;
      bottom: -80px;
      div {
        font-size: 33px;
        font-weight: 600;
        color: #3e342f;
        line-height: 100%;
        display: flex;
        align-items: center;
        &:before {
          content: '';
          width: 76px;
          height: 42px;
          margin-right: 10px;
          vertical-align: middle;
          border-radius: 6px;
        }
      }
      .empty:before {
        background: #fdcd00;
      }
      .available:before {
        background: #8bddde;
      }
      .disable:before {
        background: #a9aaab;
      }
    }
    .case1 {
      position: relative;
      width: 695px;
      height: 451px;
      background: url(@/images/portrait/case_bgTop.png) 0 0;
      margin-bottom: 30px;
    }
    .case2 {
      position: relative;
      width: 695px;
      height: 456px;
      background: url(@/images/portrait/case_bgBottom.png) 0 0;
    }
    .caseGroup {
      position: absolute;
      left: 72px;
      top: 37px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 13px;

      &.group1 {
        width: 380px;
      }
      &.group2 {
        width: 560px;
      }
      .case {
        width: 90px;
        height: 166px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e9eaea;
        font-size: 32px;
        font-weight: bold;
        color: #3e342f;
        border: 3px solid #534741;
        border-radius: 15px;
        margin-left: -3px;
        &.empty {
          background: #fdcd00;
        }
        &.available {
          background: #8bddde;
        }
        &.disable {
          background: #a9aaab;
          color: #fff;
        }
      }
    }
  }
  .topText {
    text-align: center;
    height: 450px;
    margin-bottom: 50px;
    .text {
      font-size: 50px;
      font-weight: 600;
      color: $textColor;
      line-height: 180%;
    }
    &.loan {
      .number {
        font-size: 150px;
        font-weight: 900;
        color: #fda300;
        line-height: 100%;
        margin-bottom: 30px;
      }
    }
    &.launch {
      display: flex;
      align-items: center;
      gap: 40px;
      margin: 0 -40px;
    }
    &.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      margin-bottom: 200px;
    }
    &.setting {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      .btn {
        flex-direction: column;
        gap: 18px;
      }
    }
  }
}
.nodeBlock {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  padding: 200px 0;
  padding-bottom: 200px;
  &.center {
    flex-direction: column;
    align-items: center;
  }
  a.node {
    display: flex;
    width: 365px;
    height: 272px;
    justify-content: center;
    align-items: center;
    background: #f09800;
    border: 10px solid #fff;
    box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0 0 9px rgba($color: $shadowColor, $alpha: 0.15);
  }
}
.detailBlock {
  max-width: 800px;
  margin: 0 auto;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba($color: $shadowColor, $alpha: 0.15);
  overflow: hidden;
  background: $boxBgColor;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 90px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: $theadColor;
  }
  table.detail {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    z-index: 1;

    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    thead tr {
      padding: 0 40px;
      background: $theadColor;
    }
    tbody {
      display: block;
      overflow: auto;
      height: 1160px;
    }
    tbody::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $boxBgColor;
    }

    tbody::-webkit-scrollbar {
      width: 15px;
      background-color: $boxBgColor;
    }

    tbody::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $tbodyColor;
    }
    + .btn {
      max-width: 1635px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    th {
      box-sizing: border-box;
      color: $thTextColor;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      line-height: 90px;
    }
    th,
    td {
      // line-height: 90px;
      padding: 0 0.5em;
      text-align: center;
    }
    td {
      font-size: 30px;
      font-weight: 600;
      color: $tdTextColor;
      border-bottom: 3px solid $tdBorderColor;
      padding: 0.5em;
    }
    .deleteCard {
      width: 60px;
      height: 60px;
      display: block;
      background: url(@/images/portrait/icon_delete.svg) 0 0 no-repeat;
      font-size: 0;
      margin: 0 auto;
    }
    .newCard {
      color: #fff;
      background: $theadColor;
      padding: 4px 8px;
      border-radius: 4px;
      display: inline-block;
      margin-left: 8px;
      line-height: normal;
      font-size: 24px;
    }
  }
  // + .btn {
  //   max-width: 800px;
  //   margin: 0 auto;

  // }
}
