$primaryColor: #582f2f;
$secondaryColor: #ffaf00;
$thirdColor: #302222;
$textColor: #534741;
$whiteColor: #fff;
$blackColor: #000;
$grayColor: #999;
$redColor: #e11111;
$blockBg: #edeae8;

$logoColor1: #7d7169;
$logoColor2: #302222;
$logColor1: #582f2f;
$logColor2: #ba6000;
$menuColor1: #ffaf00;
$menuColor2: #ba6000;

// $bgColor: #333;
// $bgColorHover: #464646;

$btnBg1: #582f2f;
$btnBg2: #a3948b;
$btnBg3: #ba6000;

$shadowColor: rgba(#391414, 0.15);
$tabColor1: #a3948b;
$tabColor2: #582f2f;
$tabColor3: #ba6000;
$trColor: #a3948b;

// 字型設定
$fontFamily: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, Arial,
  sans-serif;
$fontSize: 1.25em;

// rem基本尺寸
$remFontSize: 16;

$containerMax: 1200px !default; //container最大寬
$screenLg: 1200px !default; //電腦
$screenMd: 992px !default; //平板
$screenSm: 768px !default; //手機
$screenXs: 576px !default; //極小尺寸 - hyui
$screenXs-flex: 320px !default; //極小尺寸 - flex
