@use '_normalize.scss' as *; //reset
@use '_variable.scss' as *; //variable
@use '_form.scss' as *; //form
@use '_login.scss' as *; //login
@use '_header.scss' as *; //header
@use '_tableWrapper.scss' as *; //tableWrapper

body {
  background: url(../images/bg.jpg) repeat;
  font-size: $fontSize;
  font-family: $fontFamily;
  @media (max-width: $screenSm) {
    font-size: 1rem;
  }
  a:focus {
    outline: 0;
  }
}
.popup {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  isolation: isolate;
  z-index: 999;
  .popupBlock {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 26px 30px rgba($color: #000000, $alpha: 0.28);
    position: relative;
    box-sizing: border-box;
    padding: 60px 50px 50px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $screenSm) {
      width: 80%;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background: url(../images/icon_delete.svg) center center no-repeat;
      font-size: 0;
      background-size: 36px;
      &:hover,
      &:focus-visible {
        background: url(../images/icon_delete_.svg) center center no-repeat;
        background-size: 36px;
      }
    }
    .popupContent {
      .text {
        color: $textColor;
      }
    }
    .btnGrp {
      margin-bottom: 0;
    }
  }
  .popupOverlay {
    background: rgba($color: #000000, $alpha: 0.47);
    position: absolute;
    inset: 0;
  }
}
.wrap {
  width: 100%;
  margin: 0px auto;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: $containerMax;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: $screenSm) {
  }
}
/*--共用設定-----------------------------------*/
.hidden {
  display: none;
}
.copyright {
  text-align: center;
  color: $thirdColor;
  font-size: 1rem;
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
  @media (max-width: $screenMd) {
    margin-bottom: 20px;
  }
  @media (max-width: $screenXs) {
    display: none;
  }
  &:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fdcd00;
    display: block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    li {
      display: inline-block;
      color: #7d7169;
      &:after {
        content: '/';
        margin-left: 6px;
      }
      &:last-child:after {
        display: none;
      }
      a {
        text-decoration: none;
        color: #7d7169;
        &:hover,
        &:focus-visible {
          color: $primaryColor;
        }
      }
    }
  }
}
.pageTitle {
  margin: 0 0 36px 0;
  text-align: center;
  @media (max-width: $screenXs) {
    margin: 0 0 20px 0;
  }
  span {
    font-size: 1.875rem;
    font-weight: bold;
    color: $primaryColor;
    display: inline-block;
    @media (max-width: $screenXs) {
      font-size: 1.5rem;
    }
    &:after {
      content: '';
      width: 100%;
      display: block;
      height: 5px;
      background: $secondaryColor;
      border-radius: 5px;
      margin-top: 6px;
    }
  }
}
.main {
  margin-bottom: 22px;
  @media (max-width: $screenSm) {
    padding-top: 80px;
  }
  .content {
    padding: 36px 60px 60px 60px;
    background: #fff;
    box-shadow: 0 0 40px 0 $shadowColor;
    border-radius: 10px;
    box-sizing: border-box;
    @media (max-width: $screenMd) {
      padding: 30px;
    }
    @media (max-width: $screenSm) {
      padding: 20px;
    }
    .bgBlock {
      background: $blockBg;
      border-radius: 10px;
      padding: 44px;
      box-sizing: border-box;
      @media (max-width: $screenMd) {
        padding: 30px;
      }
      @media (max-width: $screenXs) {
        padding: 20px;
      }
      + .bgBlock {
        margin-top: 20px;
      }
    }
  }
}
table {
  &.hTable,
  &.vTable {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 2px solid #fff;
      &:hover {
        background: #e1dfdd;
      }
    }
    th,
    td {
      padding: 15px;
      color: $textColor;
      @media (max-width: $screenSm) {
        padding: 10px;
      }
    }
    td {
      .edit,
      .delete {
        text-decoration: none;
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto;
        font-size: 0;
      }
      .edit {
        background: url(../images/icon_edit.svg) no-repeat center center;
        background-size: 30px;
        &:hover,
        &:focus-visible {
          background: url(../images/icon_edit_.svg) no-repeat center center;
          background-size: 30px;
        }
      }
      .delete {
        background: url(../images/icon_delete.svg) no-repeat center center;
        background-size: 30px;
        &:hover,
        &:focus-visible {
          background: url(../images/icon_delete_.svg) no-repeat center center;
          background-size: 30px;
        }
      }
    }
    + .btnGrp {
      .btn {
        padding-left: 80px;
        padding-right: 80px;
        @media (max-width: $screenSm) {
          padding: 10px 32px;
        }
      }
    }
  }
  &.hTable {
    thead {
      tr:first-child {
        border-bottom: 0;
      }
      th {
        background: $trColor;
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
      th {
        &.sort {
          position: relative;
          padding-right: 20px;
          .arrowUp,
          .arrowDown {
            position: absolute;
            font-size: 0;
            border: 0;
            background: none;
            &::before {
              content: '';
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
            }
          }
          .arrowUp {
            top: 20px;
            @media (max-width: $screenSm) {
              top: 17px;
            }
            &:before {
              border-width: 0 6px 6px 6px;
              border-color: transparent transparent #fff transparent;
            }
            &.active,
            &:hover,
            &:focus-visible {
              &::before {
                border-color: transparent transparent $primaryColor transparent;
              }
            }
          }
          .arrowDown {
            bottom: 20px;
            @media (max-width: $screenSm) {
              bottom: 17px;
            }
            &:before {
              border-width: 6px 6px 0 6px;
              border-color: #fff transparent transparent transparent;
            }
            &.active,
            &:hover,
            &:focus-visible {
              &::before {
                border-color: $primaryColor transparent transparent transparent;
              }
            }
          }
        }
      }
    }

    th {
      white-space: nowrap;
      color: #fff;
      text-align: center;
    }
    th,
    td {
      padding: 15px 10px;
    }
    td {
      word-break: break-all;
      &.center {
        text-align: center;
      }
      .borrow {
        color: #ba6000;
        font-weight: bold;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: $textColor;
  .page {
    display: flex;
    align-items: center;
    gap: 4px;
    > button {
      text-decoration: none;
      width: 36px;
      height: 36px;
      display: block;
      font-size: 0;
      border: 0;
      transition: all 0.5s;
      &:hover {
        opacity: 0.8;
      }
      &:focus-visible {
        outline: 2px solid $primaryColor;
        border-radius: 4px;
      }
    }
    .prev,
    .next {
      background: url(../images/icon_arrow.svg) no-repeat center;
      background-size: 24px;
      &:disabled {
        opacity: 0.4;
      }
    }
    .next {
      transform: rotateY(180deg);
    }
  }
}
.gazeInfo,
.cardInfo {
  .vTable {
    th {
      text-align: right;
      width: 200px;
      box-sizing: border-box;
      vertical-align: top;
      @media (max-width: $screenSm) {
        width: auto;
      }
    }
  }
  .checkGrp {
    padding: 0;
    margin-bottom: 8px;
    label {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
.gazeInfo {
  .vTable {
    border-top: 2px solid $primaryColor;
    margin-top: 18px;
  }
}

.function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
  @media (max-width: $screenSm) {
    justify-content: center;
  }
  .tableTitle {
    font-size: 1.5rem;
    color: $primaryColor;
    font-weight: bold;
    @media (max-width: $screenSm) {
      width: 100%;
      margin-bottom: 8px;
      text-align: center;
    }
  }
  .addCase {
    text-decoration: none;
    background: $btnBg3;
    color: #fff;
    display: flex;
    align-items: center;
    border: 2px solid $btnBg3;
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: inline-block;
      background: url(../images/icon_add.svg) no-repeat 0 0;
      background-size: 24px;
      margin-right: 4px;
    }
    &:hover,
    &:focus-visible {
      background: $btnBg1;
      border: 2px solid $btnBg1;
    }
  }
  .filter {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    color: $textColor;
    font-size: 1rem;
    @media (max-width: $screenSm) {
      justify-content: center;
    }
    .page {
      display: flex;
      align-items: center;
      gap: 4px;
      .now {
        color: $textColor;
      }
      > button {
        text-decoration: none;
        width: 36px;
        height: 36px;
        display: block;
        font-size: 0;
        border: 0;
        transition: all 0.5s;
        &:hover {
          opacity: 0.8;
        }
        &:focus-visible {
          outline: 2px solid $primaryColor;
          border-radius: 4px;
        }
      }
      .prev,
      .next {
        background: url(../images/icon_arrow.svg) no-repeat center;
        background-size: 24px;
        &:disabled {
          opacity: 0.4;
        }
      }
      .next {
        transform: rotateY(180deg);
      }
    }
    .dateInput {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      @media (max-width: $screenSm) {
        justify-content: center;
      }
    }
    label .dateInput {
      margin-left: 8px;
    }
    .radioGrp {
      flex-wrap: wrap;
      @media (max-width: $screenSm) {
        justify-content: center;
      }
      label {
        margin-bottom: 8px;
      }
      .dateInput {
        @media (max-width: $screenXs) {
          justify-content: left;
        }
      }
    }
  }
}
.role {
  display: flex;
  margin-bottom: 18px;
  gap: 8px;
  @media (max-width: $screenMd) {
    justify-content: center;
  }
  a {
    text-decoration: none;
    padding-left: 48px;
    padding-right: 48px;
    margin: 0;
    @media (max-width: $screenXs) {
      padding-left: 30px;
      padding-right: 30px;
    }
    &.active {
      background: $btnBg1;
      border: 2px solid $btnBg1;
    }
    &:hover,
    &:focus {
      background: $btnBg3;
      border: 2px solid $btnBg3;
    }
  }
}
/*--區塊設定-----------------------------------*/
.caseBlock {
  padding: 0 100px;
  @media (max-width: $screenMd) {
    padding: 0 40px;
  }
  @media (max-width: $screenSm) {
    padding: 0;
  }
  .caseTab {
    .tabs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 40px;
      @media (max-width: $screenXs) {
        margin-bottom: 20px;
      }
      .tab {
        cursor: pointer;
        padding: 10px 30px;
        background: $tabColor1;
        color: #fff;
        border-radius: 24px;
        font-weight: bold;
        &.active {
          background: $tabColor2;
        }
        &:hover,
        &:focus-visible {
          background: $tabColor3;
          outline: 0;
        }
      }
    }
    .tabContent {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .caseLegend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: $textColor;
    margin-top: 44px;
    @media (max-width: $screenXs) {
      gap: 10px;
      margin-top: 20px;
    }
    .legend {
      display: flex;
      align-items: center;
      font-weight: bold;
      &:before {
        content: '';
        width: 60px;
        height: 30px;
        display: block;
        margin-right: 16px;
        border-radius: 6px;
        @media (max-width: $screenXs) {
          width: 30px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
    .empty {
      &:before {
        background: #fdcd00;
      }
    }
    .available {
      &:before {
        background: #8bddde;
      }
    }
    .disable {
      &:before {
        background: #a9aaab;
      }
    }
  }
  .caseInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    max-width: 830px;
    color: $textColor;
    margin: 0 auto 20px auto;
    @media (max-width: $screenXs) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .caseName {
      font-size: 1.75rem;
      @media (max-width: $screenXs) {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
      }
    }
    .caseCount {
      font-size: 1.5rem;
      @media (max-width: $screenXs) {
        font-size: 1.25rem;
        width: 100%;
        text-align: center;
      }
      em {
        font-size: 2.25rem;
        font-style: normal;
        margin: 0 8px;
        color: $secondaryColor;
        @media (max-width: $screenXs) {
          font-size: 1.75rem;
          margin: 0 4px;
        }
      }
    }
  }
  .caseContent {
    .case {
      font-size: 1.5rem;
      @media (max-width: $screenSm) {
        font-size: 1.25rem;
      }
      @media (max-width: $screenXs) {
        font-size: 0.875rem;
      }
      &.empty {
        color: #3e342f;
        background: #fdcd00;
      }
      &.available {
        color: #3e342f;
        background: #8bddde;
      }
      &.disable {
        color: #fff;
        background: #a9aaab;
      }
    }
  }
  .case48 {
    position: relative;
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    .caseGroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      z-index: 9;
      width: 42.5%;
      height: 26.7%;
      &.group1 {
        top: 4.85%;
        left: 4.88%;
      }
      &.group2 {
        top: 35.4%;
        left: 4.88%;
      }
      &.group3 {
        top: 65.4%;
        left: 4.88%;
      }
      &.group4 {
        top: 65.4%;
        left: 52.3%;
      }
      .case {
        width: 14.5%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0 0 0 2px $textColor inset;
        font-weight: bold;

        &:nth-child(n + 7) {
          margin-top: -3px;
        }
      }
    }
  }
  .case8 {
    position: relative;
    max-width: 468px;
    width: 100%;
    margin: 0 auto;
    .caseGroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      z-index: 9;
      row-gap: 2%;
      width: 52%;
      height: 80%;
      left: 10.6%;
      top: 7.4%;
      .case {
        width: 24.8%;
        height: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0 0 0 2px $textColor inset;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: -3px;
        @media (max-width: $screenSm) {
          font-size: 1.25rem;
        }
        @media (max-width: $screenXs) {
          font-size: 1rem;
        }
      }
    }
  }
  .case12 {
    position: relative;
    max-width: 468px;
    width: 100%;
    margin: 0 auto;
    .caseGroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      z-index: 9;
      row-gap: 2%;
      width: 80%;
      height: 80%;
      left: 10.6%;
      top: 7.4%;
      .case {
        width: 16.1%;
        height: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0 0 0 2px $textColor inset;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: -3px;
        @media (max-width: $screenSm) {
          font-size: 1.25rem;
        }
        @media (max-width: $screenXs) {
          font-size: 1rem;
        }
      }
    }
  }
}
.returnBlock {
  .barcode {
    font-size: 1.5rem;
    color: $primaryColor;
    font-weight: bold;
    @media (max-width: $screenSm) {
      font-size: 1.25rem;
    }
    span {
      width: 200px;
      display: inline-block;
      text-align: right;
      padding-right: 15px;
      margin-right: 15px;
      box-sizing: border-box;
      @media (max-width: $screenSm) {
        width: auto;
        padding-right: 0;
      }
    }
  }
}
.manageBlock {
}
.addCaseBlock {
  .caseType {
    display: flex;
    align-items: center;
    span {
      width: 200px;
      display: inline-block;
      text-align: right;
      padding-right: 15px;
      margin-right: 15px;
      box-sizing: border-box;
      font-size: 1.5rem;
      color: $primaryColor;
      font-weight: bold;
      @media (max-width: $screenSm) {
        font-size: 1.25rem;
        width: auto;
      }
    }
    .type {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      .btn {
        margin: 0;
        display: block;
        width: 130px;
        text-align: center;
        text-decoration: none;
        @media (max-width: $screenSm) {
          width: auto;
        }
        &.active {
          background: $btnBg3;
          border: 2px solid $btnBg3;
          &:hover,
          &:focus-visible {
            background: $btnBg1;
            border: 2px solid $btnBg1;
          }
        }
      }
    }
  }
}
.chartWeek {
  background: #fff;
  border-radius: 6px;
  padding: 40px;
  @media (max-width: $screenSm) {
    padding: 10px;
  }
}
.chartUser {
  background: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $screenSm) {
    padding: 10px;
  }
  .chartTitle {
    width: 100%;
    margin-bottom: 16px;
    font-weight: bold;
    color: $textColor;
  }
  .leftChart {
    width: 50%;
    @media (max-width: $screenSm) {
      display: none;
    }
  }
  .rightText {
    width: 50%;
    @media (max-width: $screenSm) {
      width: 100%;
    }
    table {
      width: 100%;
      thead {
        tr:first-child {
          border-bottom: 0;
        }
        th {
          background: $trColor;
          &:first-child {
            border-radius: 4px 0 0 4px;
          }
          &:last-child {
            border-radius: 0 4px 4px 0;
          }
        }
      }
      th {
        white-space: nowrap;
        color: #fff;
        text-align: center;
      }
      th,
      td {
        padding: 10px;
      }
      td {
        word-break: break-all;
        text-align: center;
        border-bottom: 2px solid #d9cfc8;
        color: $textColor;
      }
    }
  }
}
.termsBlock {
  .terms {
  }
  .btnGrp {
    .btn {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}
